.round-status-message {
    text-align: center;
}

.round-status-message-highlight {
    font-weight: bold;
}


.table-container {
    width: 100%;
    overflow-x: auto;
}

table {
    width: 100%;
    margin: 0 auto;
    border-collapse: collapse;
    text-align: left;
    min-width: 800px;
    max-width: 1200px;
}

.table-headers {
    background-color: #f2f2f2;
}

th, td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
}